:root {
  --bl-gray: #282c34;
  --bl-light-black: #0c0c0c;
  --bl-black-gray: #121212;
  --bl-blue-gray: #0d1016;
  --bl-atom-dark: #1e1e1e;
  --bl-monokai: #211f22;
  --bl-red-light: #e53e3e;
  --bl-red-dark: #ba0018;
  --bl-orange-light: #ff6600;
  --bl-orange-dark: #fe300b;
  --bl-yellow-light: #fedd19;
  --bl-yellow-dark: #fee825;
  --bl-green-light: #38a169;
  --bl-green-dark: #0e9251;
  --bl-teal-light: #38b2ac;
  --bl-teal-dark: #2c7a7b;
  --bl-blue-light: #3182ce;
  --bl-blue-dark: #2e7af3;
  --bl-sky-light: #01b1e8;
  --bl-sky-dark: #3598db;
  --bl-purple-light: #5828e3;
  --bl-purple-dark: #421a85;
  --bl-cyan-light: #0bc5ea;
  --bl-cyan-dark: #22d3ee;
  --bl-pink-light: #ed64a6;
  --bl-pink-dark: #ee2852;
  --bl-fuchsia-light: #d946ef;
  --bl-fuchsia-dark: #a21caf;
  --bl-emerald-light: #34d399;
  --bl-emerald-dark: #10b981;
  --bl-base: 4px;
  --bl-theme-bg: #fff;
  --bl-theme-color: #fff;
}
